.glitch {
    text-shadow: 1px 0px 1px red, 0px 1px 1px green;
}

.circleanim {
    border: solid red 2px;
    border-radius: 50%;
    animation: tourne 20s infinite linear alternate-reverse;
}

.spanRotate {
    display: inline-block;
    animation: tourne 20s infinite linear alternate-reverse;
}

.debug {
    border: solid blue 2px;
}

.redacted {
    color: black;
    background-color: black;
    content: "[redacted]";
}

.circlecontainer {
    position: fixed;
    width: 200px;
    height: 200px;
    float: right;
}

.circle1, .circle2, .circle3 {
    position: fixed;
    opacity: 0.5;
    border-radius: 50%;
    border: solid blue 2px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 80%);
    animation: tourne 5s infinite linear alternate-reverse;
}

.circle1 {
    width: 200px;
    height: 200px;
    animation-delay: 0s;
    border-color: red;
    top: 0px; left: 0px;
}

.circle2 {
    width: 180px;
    height: 180px;
    animation-delay: 2s;
    border-color: green;
    top: 10px; left: 10px;
}

.circle3 {
    width: 160px;
    height: 160px;
    animation-delay: 4s;
    border-color: yellow;
    top: 20px; left: 20px;
}

@keyframes tourne {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}